$primary-font: "Open Sans";
$title-font: "Epilogue";
$title-color: #111563;
$text-color: #63718e;

.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s;
  &--small {
    padding: 4px 22px;

    font-size: 15px;
    line-height: 150%;
  }
  &--big {
    padding: 14px 22px;
    font-size: 20px;
    line-height: 1;
  }
  &--filled {
    border: 2px solid #c774ee;
    background-color: #c774ee;
    color: #fff;
    &:hover {
      box-shadow: 0px 5px 10px rgba(76, 174, 80, 0.3);
    }
  }
  &--transparent {
    border: 2px solid #63718e;
    background-color: transparent;
    color: #63718e;
    &:hover {
      border: 2px solid #c774ee;
      color: #c774ee;
    }
  }
}

.h1 {
  font-family: $title-font;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
  color: $title-color;
}
.h2 {
  font-family: $title-font;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: $title-color;
}
.h3 {
  font-family: $title-font;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: $title-color;
}
.h4 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: $title-color;
}

.text-m {
  font-size: 18px;
  line-height: 150%;
  color: $text-color;
}
.text-s {
  font-size: 16px;
  line-height: 150%;
  color: $text-color;
}
.accent {
  font-weight: bold;
  color: #c774ee;
}
.link {
  position: relative;
  font-family: $title-font;
  font-weight: bold;
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    border: 2px dashed #c774ee;
  }
}
.list {
  list-style: none;

  &__item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #111563;
    }
  }
}

.note {
  max-width: 380px;
  padding: 28px;
  background: #fff;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 8px;
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fee5ff;
    margin-right: 10px;
  }
  &__title {
    display: inline-block;
    font-family: $title-font;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #111563;
  }
  &__text {
  }
}
