@import "fonts";
@import "components";

$primary-font: "Open Sans";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $text-color;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  background: #fff;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__logo {
    height: 45px;
    & img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }
  &__search {
    display: flex;
    margin-right: 30px;
  }
  &__tel {
    display: flex;
    align-items: center;
    margin-right: 30px;

    font-size: 15px;
    line-height: 150%;
    font-weight: bold;
    color: #63718e;
    & .iconify {
      margin-right: 5px;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    margin-right: 30px;
    list-style: none;
    &-item {
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      & + & {
        margin-left: 15px;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
  &__btn {
    &:nth-child(1) {
      margin-right: 30px;
      padding: 4px 16px;
    }
  }
}

.flex {
  display: flex;
}
.col-50 {
  flex: 0 0 50%;
}
img.adaptive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.promo {
  // padding: 150px 0 240px;
  // padding: 105px 0;

  // background-image: url(../img/promo-image.png);
  // background-repeat: no-repeat;
  // background-position: 50vw 50%;
  // background-size: auto;
  &__inner {
    // display: flex;
    align-items: center;
  }
  &__content {
    padding: 200px 0 240px;
    // padding-top: 95px;
  }
  &__image {
  }
  &__title {
    max-width: 580px;
    margin-bottom: 20px;
  }
  &__text {
    max-width: 580px;
    margin-bottom: 30px;
  }
  &__btn {
    min-width: 280px;
  }
}
.req {
  &__inner {
  }
  &__image {
    position: relative;
    & img {
      position: absolute;
      left: -150px;
      top: 40px;
    }
  }
  &__content {
    padding: 153px 0 230px 10px;
  }

  &__title {
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__btn {
    min-width: 180px;
  }
}

.calculator {
  // padding: 45px 0;
  // temp
  height: 450px;
  &__inner {
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 8px;
    padding: 57px 100px 65px;
  }
  &__title {
    text-align: center;
    margin-bottom: 16px;
  }
  &__text {
    text-align: center;
  }
}

.calc-form {
  &__select {
    // background-image: url('https://api.iconify.design/uil:angle-down.svg'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    // background-repeat: no-repeat;
    // background-position: right 15px top 50% ;
    // -webkit-appearance: none;
    background-size: 20px;
    background-color: #f9fafc;
    box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
    border-radius: 10px;
    border: none;
    // padding: 12px 0 12px 20px;
    font-family: $primary-font;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $title-color;
  }
}

.select {
  &--sm {
    min-width: 180px;
  }
  &--lg {
    min-width: 380px;
  }
}

.steps {
  padding: 83px 0;
  &__inner {
    padding: 0 100px;
  }
  &__title {
    text-align: center;
    margin-bottom: 16px;
  }
  &__text {
    text-align: center;
    max-width: 560px;
    margin: 0 auto 25px;
  }
}

.slider-progress {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto 60px;
  max-width: 780px;
  &__item {
    font-family: $title-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-num {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #e8f8ff;

      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      font-weight: bold;
      font-size: 24px;
      line-height: 1.2;
      color: #bad9e7;

      & span {
        height: 24px;
      }
    }
    &-text {
      color: #bad9e7;
      text-align: center;
    }
    &.active .slider-progress__item-num {
      background-color: #fee5ff;
      color: #c774ee;
    }
    &.active .slider-progress__item-text {
      color: #c774ee;
    }

    // & + &::before {
    //   content: "";
    //   position: absolute;
    //   left: -201px;
    //   display: inline-block;
    //   height: 2px;
    //   width: calc(100%/3);
    //   // margin-right: 4px;
    //   background-color: #C774EE;
    // }
  }
  &__line {
    flex: 1 0 0;
    height: 2px;
    background-color: #e8f8ff;
    margin-top: 19px;
    // margin-right: 4px;
    // margin-left: 5px;
    &.active {
      background-color: #c774ee;
    }
  }
}
.steps-slider {
  &__title {
    margin-bottom: 20px;
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__list {
    flex: 0 0 50%;
    &-item {
      font-family: $title-font;
      font-size: 22px;
      color: $text-color;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &::before {
        content: "";
        margin-right: 30px;
        height: 1px;
        width: 20px;
        background-color: $text-color;
      }
      &.active {
        font-weight: bold;
        color: #c774ee;
        &::before {
          height: 2px;
          width: 40px;
          margin-right: 10px;
          background-color: #c774ee;
        }
      }
    }
  }
  &__content {
    flex: 0 0 50%;
    padding-left: 10px;
  }
  &__text {
    margin-bottom: 20px;
  }
}
